<!DOCTYPE html>
{% extends 'Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Diplay</title>
</head>
<body>
<h1 style="text-align:center">Available jobs</h1>
<div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <h5 class="card-header">Job Details</h5>
                                <div class="card-body">
                                    <table class="table table-striped ">
                                        <thead>
                                            <tr>
                                                <th scope="col">Job</th>
                                                <th scope="col">Industry</th>

                                                <th scope="col">Company</th>
                                                <th scope="col">Openings</th>
<!--                                                <th scope="col">Experiance</th>-->
                                                <th scope="col">Location</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Salary</th>
                                                <th scope="col">Employment Status</th>
                                                <th scope="col">options</th>



                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in data %}
                                            <tr>
                                                <td>{{i.Job_Name}}</td>
                                                <td>{{i.Industry}}</td>
                                                <td>{{i.Company}}</td>
                                                <td>{{i.Openings}}</td>
<!--                                                <td>{{i.Experiance}}</td>-->
                                                <td>{{i.Location}}</td>
                                                <td>{{i.Description}}</td>
                                                <td>{{i.Salary}}</td>
                                                <td>{{i.Employment_status}}</td>
                                                <td>
                                                    <a href="{% url 'editjob' id=i.Job_id %}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                        </svg>
                                                    </a>
                                                    <a href="{% url 'deletejob' id=i.Job_id %}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                                    </svg>

                                                    </a>
                                                </td>





                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
      {% for i in messages %}
           {% if i.tags == 'warning' %}
               <script>
                    swal('{{i}}','','warning');
               </script>
           {% elif i.tags == 'error' %}
               <script>
                    swal('{{i}}','','error');
               </script>
           {% else %}
               <script>
                    swal('{{i}}','','success');
               </script>
           {% endif %}
        {% endfor %}
    {% endif %}


</body>
</html>
{% endblock %}